/* Put your CSS here */

/*

light teal - #e5f5f7
medium teal - #03879A
dark teal - #01535F
*/

/*
    Bootstrap min updates
*/

.modal-backdrop {
    bottom: 0;
}

/*
    Application style
*/

* {
	font-family: Verdana, Geneva, sans-serif;
}

.ember-application {
    margin-left: auto;
    margin-right: auto;
    min-width: 550px;
    max-width: 1000px;
    align-content: center;
}

.ember-view.active {
/*    background-color: #e5f5f7;*/
}

/*
ul {
	list-style-type: circle;
	margin: 0;
	margin-top: 0px;
	padding: 0px;
}

li {
	display: inline-block;
    text-align: center;
    width: 15%;
}
*/

.topnav {
	margin: 0;

}

/*
.topnav li {
    margin-left: 5px;
    margin-right: 5px;
}
*/

.banner {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
    text-align: center;
}

.banner a:hover {
    font-weight: bold;
}

.banner-right img {
	float: right;
	display: inline;
	position: relative;
	bottom: 0px;
}

.navigation {
    align-content: center;
	display: block;
	font-family: "Arial Black", Gadget sans-serif;
}

.top-nav {
    font-size: 14pt;
}


.topnav-left {
    display: inline-block;
    float: left;
    mid-width: 300px;
    width: 20%;
}

.topnav-left th {
    float: left;
}

.topnav-right {
    display: inline-block;
    float: left;
    min-width: 400px;
    width: 80%;
}

h2.posts {
    margin-top: 0px;
}










/*For testing purposes!!



/* TESTING ONLY */
.testing {
    background: green;
}

#dialog-test {
    background-color: blue;
}

ul.edit {
    
}

ul.edit li {
    display: block;
}

.postEdit tr {
    height: 40px;
}

.postEdit td {
    width: 70px;
}

.posts-left {
    display: inline-block;
    float: left;
    mid-width: 300px;
    width: 20%;
}

.posts-right {
    display: inline-block;
    float: left;
    min-width: 400px;
    width: 60%;
}

.application-pane {
    display: inline-block;
    width:80%;
    float: left;
}

.quick-create {
    display: inline-block;
    width: 20%;
    float:right;
}
